.container{
  border: 2px solid red;
  display: flex;
  align-items: center; 
  height: 80vh;
  justify-content: center;
  /* flex-direction: column-reverse; */ 
  /* flex-wrap: wrap; */
  /* align-content: center; */
  flex-flow:row wrap;
  column-gap: 4px;
}
.items{
  height: 45px;
  width: 45px;
  border: 2px solid black;
  /* margin: 5px; */
  background-color: antiquewhite;
  /* flex-grow: 2; */
}
.itemsd{
  /* flex-grow: 5; */
  align-self: flex-end;
  align-self: flex-start;
}
